<div class="social-media-buttons text-center">
  <!-- Facebook -->
  <iframe src="https://www.facebook.com/plugins/share_button.php?href=<%= request.original_url %>&layout=button&size=small&mobile_iframe=true&width=58&height=20&appId" width="58" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  <!-- Twitter -->
  <a href="https://twitter.com/share" class="twitter-share-button" 
                                      data-show-count="false">Tweet</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
